*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #D5E1EF;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400; /* o 700 */
}

.card{
    width: 320px;
    height: 499px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img{
    width: 288px;
    height: 288px;
    margin-top: 16px;
    border-radius: 20px;
    margin-bottom: 24px;
}

.text{
    text-align: center;
    height: 131px;
    width: 288px;
}
h1{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #1F314F;
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Rag123', cursive;
    letter-spacing: 0px;
    line-height: 120%;
}

p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #7D889E;
    margin: 0;
    width: 256px;
}

@media screen and (max-width: 375px) {

    .card{
        border-radius: 20px;
    }
    .img{
        border-radius: 10px;
    }
    
}